@use "../mixin/mixin";

@media screen and (max-width: 1420px) {
  section, footer, header nav {
    padding-left: 15px;
    padding-right: 15px;
  }

  .split {
    padding-right: 3rem;
  }


  .matrix-card {
    .bottom-left {
      @include mixin.topleft(9rem,-8rem);
    }

    .bottom-out-left {
      @include mixin.topleft(18rem, -8rem)
    }

  }

}
