@use "../mixin/mixin";

@media screen and (max-width: 930px) {
  .hero {
    display: flex;
    flex-direction: column;
    > .split {
      width: 100%;
      flex: 0 0 100%;
      padding-bottom: 80px;
    }
  }
  .container {
    flex-wrap: wrap;
    .split-third {
      flex: 0 0 calc(50% - .5rem);
      padding-right: 0;
      &:first-child {
        flex: 0 0 calc(50% - .5rem);
        padding-right: 1rem;
      }
      &:last-child {
        flex: 0 0 100%;
        display: flex;
        .card {
          flex: 0 0 calc(50% - 1rem - 30px);
          &:first-child {
            margin-right: 1rem;
          }
        }
      }
    }
  }
  .offset-md-0 {
    margin-top: 1rem;
  }
}
