@use "../mixin/mixin";

@media screen and (max-width: 640px) {
  mark {
    display: none;
  }

  .container {
    .split-third {
      flex: 0 0 100% !important;
      padding-right: 0 !important;
      padding-bottom: 1rem;
      &:last-child {
        display: block;
        .card {
          &:first-child {
            margin-right: 0;
          }
        }
      }
      .card {
        flex: 0 0 100%;
      }
    }
  }

  .footer-card .content-center .action-row {
    flex-wrap: wrap;
    h3 {
      display: block;
      width: 100%;
    }
  }
}

@media screen and (max-width: 550px) {
  header nav .branding img,
  .footer-card .content-center img {
    width: 200px;
    max-width: 100%;
    height: auto;
  }

  .matrix-card {
    .matrix-card-content {
      margin-right: 20px;
      margin-left: 30px;
    }
    .top-out-left {
      @include mixin.topleft(17rem, -3rem)
    }
    .top-out-right {
      @include mixin.topright(-3.5rem, -4rem)
    }
    .top-left {
      @include mixin.topleft(11rem,16rem)
    }
    .bottom-left {
      @include mixin.topleft(-1rem,-2rem)
    }
    .bottom-right {
      @include mixin.topright(20rem, -1rem)
    }
    .bottom-out-left {
      @include mixin.topleft(22rem, -3rem)
    }
    .bottom-out-center {
      @include mixin.topleft(3rem, -2rem)
    }

    .bottom-out-right {
      @include mixin.bottomright(-8rem,-3rem)
    }
  }

}
