:root {
  --m3-sys-light-primary: #2D6B27;
  --m3-sys-light-on-primary: #FFFFFF;
  --m3-sys-light-primary-container: #AFF49F;
  --m3-sys-light-on-primary-container: #002200;

  --m3-sys-light-secondary: #53634E;
  --m3-sys-light-on-secondary: #FFFFFF;
  --m3-sys-light-secondary-container: #D6E8CD;
  --m3-sys-light-on-secondary-container: #111F0E;

  --m3-sys-light-tertiary: #386569;
  --m3-sys-light-on-tertiary: #FFFFFF;
  --m3-sys-light-tertiary-container: #BBEBEF;
  --m3-sys-light-on-tertiary-container: #002022;

  --m3-sys-light-error: #BA1B1B;
  --m3-sys-light-on-error: #FFDAD4;
  --m3-sys-light-error-container: #FFDAD4;
  --m3-sys-light-on-error-container: #410001;


  --m3-sys-light-background: #FCFCF6;
  --m3-sys-light-on-background: #1A1C19;

  --m3-sys-light-surface: #FCFCF6;
  --m3-sys-light-on-surface: #1A1C19;
  --m3-sys-light-surface-variant: #DFE5D8;
  --m3-sys-light-on-surface-variant: #42493F;

  --m3-sys-light-outline: #73796F;

  --m3-sys-light-invserse-on-surface: #F1F1EB;
  --m3-sys-light-inverse-surface: #2E312C;
  --m3-sys-light-inverse-primary: #94D786;

  --m3-sys-light-shadow: #000000;

  --m3-elevation-1-light: 0 1px 2px 0 rgba(0,0,0,calc(100% / 3)), 0 1px 3px 1px rgba(0,0,0,15%);
  --m3-elevation-2-light: 0 1px 2px 0 rgba(0,0,0,calc(100% / 3)), 0 2px 6px 2px rgba(0,0,0,15%);
  --m3-elevation-3-light: 0 4px 8px 3px rgba(0,0,0,15%), 0 1px 3px 0 rgba(0,0,0,calc(100% / 3));
  --m3-elevation-4-light: 0 6px 10px 4px rgba(0,0,0,15%), 0 2px 3px 0 rgba(0,0,0,calc(100% / 3));
  --m3-elevation-5-light: 0 8px 12px 6px rgba(0,0,0,15%), 0 4px 4px 0 rgba(0,0,0,calc(100% / 3));
}
