.resetting {
  padding: 0.8rem !important;
  height: 1rem;
  width: 1rem !important;
  border-radius: 50%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .24);
  background-color: var(--m3-sys-light-primary-container);
  color: var(--m3-sys-light-on-primary-container);
  position: fixed;
  z-index: 99999;
  bottom: -150px;
  transition: bottom 1s;
  left: 1rem;
  cursor: pointer;
  > svg {
    width: 1rem;
    height: 1rem;
    position: relative;
    fill: var(--m3-sys-light-on-primary-container);
  }
  &.loaded {
    bottom: 1rem;
  }

  > div {
    position: absolute;
    background-color: rgba(0, 0, 0, .75);
    padding: 4px;
    border-radius: 4px;
    width: max-content;
    max-width: 200px;
    color: var(--m3-sys-light-surface);
    backdrop-filter: blur(4px);
    top: 50%;
    transform: translateY(-50%);
    transition: transform .5s;
    left: calc(100% + 5px);
  }
}

