@mixin cards {
  padding: 1.4rem;
  border-radius: .8rem;
}


.matrix-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 230px;
  width: 100%;
  margin: 0 auto;
  .button {
    position: absolute;
    background-color: var(--m3-sys-light-surface);
    box-shadow: var(--m3-elevation-1-light);
    border-radius: 5rem;
    padding: .7rem 1.5rem;
    font-weight: 500;
    &.square {
      box-shadow: var(--m3-elevation-2-light);
      height: 3rem;
      width: 3rem;
      aspect-ratio: 1;
      padding: .5rem;
      border-radius: .8rem;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      img {
        height: 3rem;
      }
    }
    &.primary {
      background-color: var(--m3-sys-light-primary-container);
    }
    &.tertiary {
      background-color: var(--m3-sys-light-tertiary-container);
    }
    &.error {
      background-color: var(--m3-sys-light-error-container);
    }
  }

  .matrix-card-content {
    @include cards;
    background-color: var(--m3-sys-light-secondary-container);
    box-shadow: var(--m3-elevation-1-light);
    text-align: center;
    aspect-ratio: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    * {
      margin-bottom: .5rem;
    }

    img {
      width: 100px;
      aspect-ratio: 1;
      border-radius: 50%;
      margin-bottom: 1.6rem;
    }
  }
}

.card {
  @include cards;
  background-color: var(--m3-sys-light-secondary-container);
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  .card-icon > * {
    display: inline-flex;
    width: 3rem;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: var(--m3-sys-light-secondary);
    color: var(--m3-sys-light-on-secondary);
    border-radius: .8rem;
    margin-bottom: 1.7rem;
  }
  .card-content {
    color: var(--m3-sys-light-on-secondary-container);
  }
}

.footer-card {
  background-color: var(--m3-sys-light-invserse-on-surface);
  margin-top: 130px;
}

.offset-50 {
  margin-top: 50px;
}
.offset-100 {
  margin-top: 100px;
}
