@use "mixin/mixin";
.matrix-card {
  .top-out-left {
    @include mixin.topleft(-4rem,-5rem);
  }
  .top-out-right {
    @include mixin.topright(-3.5rem,-7rem);
  }
  .top-left {
    @include mixin.topleft(2rem,-4rem);
  }
  .top-right {
    @include mixin.topright(3rem,-4rem);
  }
  .bottom-left {
    @include mixin.topleft(9rem,-12rem);
  }
  .bottom-right {
    @include mixin.topright(13rem,-7rem);
  }
  .bottom-out-left {
    @include mixin.topleft(18rem,-10rem);
  }
  .bottom-out-center {
    @include mixin.topleft(18rem,2rem);
  }
  .bottom-out-right {
    @include mixin.bottomright(-4rem, -3rem);
  }

}
