@use "sass:math";
@use "sass:string";
html{
  font-size: 14px;
  font-family: 'Roboto Flex', sans-serif;
  * {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
  }
}

body {
  background-color: var(--m3-sys-light-background);
  color: var(--m3-sys-light-secondary);
}

mark {
  padding: 6px 12px;
  border-radius: .6rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--m3-sys-light-on-secondary-container);
  background-color: var(--m3-sys-light-secondary-container);
}

section, .footer-card {
  max-width: 1360px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  &.container {
    align-items: flex-start;
  }
}
.footer-card {
  margin-bottom: 6rem;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1rem 0 !important;
  .content-center {
    img {
      height: 50px;
    }
    a, h3 {
      border-radius: 5rem;
      padding: .7rem 1.5rem;
      font-weight: 500;
      text-decoration: none;
    }
    &.card-footer {
      border-top: 1px solid var(--m3-sys-light-secondary);
      margin-top: 1rem;
    }
    .action-row {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    text-align: center;
    width: 100%;
  }
}

.split-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.split {
  flex: 0 0 calc(50% - 1rem);
  width: calc(50% - 1rem);
  &:not(:last-child) {
    padding-right: 1rem;
  }
}
.split-third {
  flex: 0 0 calc(100% / 3 - 1rem);
  width: calc(100% / 3 - 1rem);
  &:not(:last-child) {
    padding-right: 1rem;
  }
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
  color: var(--m3-sys-light-on-primary-container);
  padding-bottom: 2.5rem;
}
h2 {
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--m3-sys-light-on-secondary-container);
  padding-bottom: .8rem;
}

p {
  padding-bottom: 1rem;
}

a {
  color: var(--m3-sys-light-primary);
}

.text-right {
  text-align: right;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
