header {
  background-color: var(--m3-sys-light-invserse-on-surface);
  position: sticky;
  top: 0;
  z-index: 10;

  nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    max-width: 1360px;
    margin: 0 auto;
    padding: 16px 0;

    .branding {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      img {
        height: 50px;
      }
    }

    .nav-items {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      align-items: center;

      a {
        font-size: 1.2rem;
        padding: 4px 8px;
        color: var(--m3-sys-light-primary);
      }
    }
  }
}
